<!DOCTYPE html>
<html>
<head>
    <title>Authentication Details | Glados Prototype</title>
    <link rel='stylesheet' href='/static/styles.css' />
</head>
<body>
<h1>Glados Authentication Details</h1>
<pre>
user object: <%= userObject %>
</pre>
<p><a href="/glados/login">Glados Login</a></p>
</body>
</html>
